* {
    margin: 0;
    padding: 0;
}

.header {
   
    width: 100%;
    /* background-image: linear-gradient(rgba(32, 33, 39, 0.7),rgba(116, 142, 248, 0.7)), url(); */
    /* background-position: center; */
    /* background-size: cover; */
    position: relative;
   
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 90px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;


}

.nav-links ul li a {
    color:#2E3192;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}

.nav-links ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: #f44336;
    display: block;
    margin: auto;

}

.nav-links ul li:hover::after {
    width: 100%;
}

.buy-btn{
    display: inline-block;
    text-decoration: none;
    color: #EE2129;
    border: 1px solid #2E3192;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 10px;

}
.buy-btn:hover{
    border: 1px solid #fff;
    background: #f44336;
    transition: 1s;
    color: #fff;

}

nav .fa{
    display: none;
}

/* why Mexon  */
.mexon{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.mexon h1 {
    font-size: 36px;
    font-weight: 600;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

.mexon p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
    color: blue;

}

.left-side {
    flex: 1;
    padding: 20px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
}

.right-side {
    flex: 1;

}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.mexon-col {
    flex-basis: 31%;
    background: #ebd0d0;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.mexon h6 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.mexon-col p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.mexon-col:hover {
    box-shadow: 0 0 20px 0px rgba(140, 157, 216, 0.918);

}
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.service {
    text-align: center;
    padding-top: 30px;

}

.service h1{
    text-align: center;
    text-transform: capitalize;
    color:darkblue;
    font-size: 36px;
    font-weight: 600;

}

.service p {
    text-indent: 50px;
    text-align: center;
    padding: 0px 100px;
    font-size: 18px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;

}
@media (min-width:320px) and (max-width:430px){
  .service p {
    
    text-align: justify;
    padding: 0px 20px;
    font-size: 18px;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
  
  }
}




.distribution{
    min-height: 100vh;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;
}
.products{
     padding-left: 200px; 
    
}
.engine-oil p {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 120px;
    text-align: initial;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;

}

.engine-oil h1 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(0, 0, 80);
    text-align: initial;
    padding: 0px 120px;
    font-family: 'Times New Roman', Times, serif;
}


.business_promotion h1 {
    font-size: 36px;
    font-weight: 600;
    color: blue;
    text-align: initial;
}

.business_promotion ul {
    font-size: 18px;
    font-weight: 600;
    text-align: initial;
}

.business_promotion p {
    /* font-size: 18px;
    font-weight: 600; */
    text-align: initial;
    color: rgb(3, 3, 100);
}

.business_promotion li {
    text-align: right;
    color: rgb(47, 59, 80);
}


@media(max-width:700px){
    .nav-links ul li {
      display: block;
    }
    .nav-links{
        position: fixed;
        background:rgb(229, 228, 230);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
        
    }
 /* Toggle Button */
    nav .fa{
        display: block;
        color:#2E3192;
        margin: 10px;
        font-size: 18px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
        width: 100px;
    }

    .products{
        margin-top: -200px;
       padding: 0px 50px;
       
       
       
   }

}

footer{
    position: relative;
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    padding: 50px 100px;
    background-color: rgb(185, 185, 185);
}
 footer .container{
   
    justify-content: space-between;
   
}


 footer .container .sci h4{
    font-weight: 600;
    position: relative;
    color:#2E3192;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
   
}



footer .container  h4:before {
    content: '';
    position: absolute;
    bottom: -5px;
    /* width: 50px; */
    height: 2px;
    background: rgb(167, 1, 1);
}
.icons{
    margin-top: 20px;
    display: flex;
    
    
}
.icons li{
    list-style: none;
   
}

.icons li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #3d3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;

}
.icons li a:hover{
    background: #f00;
}
.icons li a .fa{
    color: #fff;
    font-size: 18px;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.sec-contact .info {
    position: relative;
}
.sec-contact .info li {
    display: flex;
   
}
footer .container .sec-contact .info li span:nth-child(1) {
    margin-right: 10px;
    color: #161313;
}
footer .container .sec-contact .info li span {
    color: #999;
   
}
footer .container .sec-contact .info li a {
    color: #999;
    text-decoration: none;
   
}
footer .container .sec-contact .info li a:hover {
    color: #fff;
   
}
footer .container .sec-contact h4{
    font-weight: 600;
    position: relative;
    color:darkblue;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
   
}


@media(max-width:700px){
  .sec-contact{
    padding-top: 50px;
  }
}
/* Dropdown */
.dropdown .dropdown-menu{
    display: none;
}
.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu {
    display:block;
    margin-top: .125em;
    margin-left: .125em;
}




@media (max-width:700px){
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropdown .dropdown-menu{
         padding: 0px ;
       
  }

   
    /* .solution img {
        width: 100%;
    } */
    

}


/* Products Pages */

  .product-left {
    position: absolute;
    top: 8px;
    left: 50px;
    padding-top: 300px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
  }


.solution{
    min-height: 100vh;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;
}

.products-p {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
   color:#2E3192;
}

.lead_sec1 {
	padding:60px 0;
    min-height:calc(100vh - 152px - 160px - 164px);
}

.lead_sec1.fullbg {
	background-attachment:scroll;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:520px;
}
.flexStretch {
	display:flex;
	align-items:stretch;
}

.flex-contain {
	display:flex;
	align-items:center;
}

.product_intro .inner {
	background: rgba(4, 4, 4, 0.4);
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 10px 10px 0 rgba(255,255,255,0.5);
	transition:box-shadow 450ms ease-in-out 0s;
	color:#fff;
}

.product_intro h2 {
	text-transform:uppercase;
	font-size:2.4em;
	margin:0 0 15px;
		font-weight: 300;
}

.product_intro p {
	font-weight: 400;
    margin-bottom: 30px;
}
.over_effect:hover .product_intro .inner {
	box-shadow: 10px -10px 0 rgba(255,255,255,0.5);
}

.product_intro .inner.right {
	box-shadow: -10px -10px 0 rgba(255,255,255,0.5);
}
.over_effect:hover .product_intro .inner.right {
	box-shadow: -10px 10px 0 rgba(255,255,255,0.5);
}

.btn1 {
	font-size:17px;
	line-height:17px;
	display:inline-block;
	color:#fff;
	background:#000;
	margin:0;
	padding:20px 30px;
	text-decoration:none;
}

.btn1-mini {
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 1rem;
}
.btn-color {
	color:#fff;
	background: rgb(180, 178, 178);
}
.btn-color.overblue:hover {
	background:#035aa5;
	color:#fff;
}
.btn1:hover {
	color:rgba(255,255,255,0.6);
	text-decoration:none;
}

.over_effect { transition:background-position 350ms cubic-bezier(0.57, 0.43, 0.37, 0.7) 0s; }
  



@media (max-width:700px){
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .lead_sec1 {
        padding: 30px 0;
    }
    .lead_sec1.fullbg {
        min-height: 400px;
    }
    /* .product_intro .inner {
        width: 60%;
        margin: 0 auto;
        padding: 30px 20px;
     } */
     .product_intro .inner {
        width: 80%;
        margin: 0 auto;
      }
    
      .product_intro h2 {
        font-size: 2em;
      }
    
    

}

/* Auto Page */
.auto {
    
    min-height: 100vh;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;
}
  
.top-left {
    position: absolute;
    top: 300px;
    left: 16px;
    color:rgb(233, 45, 11);
    font-weight: 600;
    font-size: 36px;
    padding-left: 50px;
}

.auto-page h1 {
    text-align: center;
    color: darkblue;
    font-weight: 800;
}

.auto-page p {
    padding: 0px 80px;

    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:700px){
    .top-left {
        position: absolute;
        top: 100px;
        left: 16px;
        color:rgb(233, 45, 11);
        font-weight: 600;
        font-size: 36px;
    }
    
    
    

}
.bg4 { background-color:#e2e2e4; }

.lead_sec1 .heading2 {
	font-weight:300;
	font-size:3rem;
}

.subProList article {
	margin:0;
	padding:0;
  overflow: hidden;
}

.subProList .col-content {
	background:#fff;
	border-radius:0;
	text-align:center;
	margin:0 2px 2px 0;
	padding:1.2rem 1.2rem 1.4rem;
	/*transition:transform 250ms ease-in-out 0s;*/
	transition:background 350ms cubic-bezier(0.42, 0, 0.33, 0.59) 0s, color 250ms cubic-bezier(0.42, 0, 0.33, 0.59) 0s;
}


.subProList .col-content:after {
	content:"";
	display:block;
	clear:both;
}


.subProList.v0 .col-content {
	margin: 0 20px 20px 0;
    background-position: center;
    background-repeat: no-repeat;
	background-image:none !important;
    background-size: cover;
    height: 262px;
    position: relative;
    color: #fff;
    box-shadow: 0 0 0 rgba(0,0,0,0) inset;
}

.subProList.v0 .col-content .col_icon {
	display:block;
	color:red;
	color:#035aa5;
	height:108px;
    padding-top: 40px;
}

.subProList.v0 .col-content .col_icon i {
	font-size:4.66rem
}

.subProList.v0 .col-content h3 {
	height:115px;
	line-height:115px;
	display:flex;
	justify-content:center;
	align-items:stretch;
	position:relative;
    z-index: 5;

    text-shadow: 0 0 0 rgba(0,0,0,0);
	margin-right: -1.2rem;
    margin-left: -1.2rem;
    margin-bottom: -20px;
}

.subProList.v0 .col-content h3 a {
	font-size: 1rem;
	text-transform:uppercase;
	font-weight:500;
	display:block;
	width:100%;
	color:#000;
	text-decoration:none;
}

.subProList.v0 .col-content h3 a span.text {
	line-height: normal;
    display: inline-block;
    vertical-align: middle;
    padding: 0 50px;
}

.subProList.v0 .col-content:hover {
	background: #ffff;
}

.subProList.v0 .col-content a:hover {
	background:rgb(214, 35, 4);
	color:#fff;
}

.subProList .col-content .col_icon i {
	font-size:3.8rem;
}

/* .subProList .col-content h3 {
	min-height: 60px;
    line-height: 1.45;
    padding: 0;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
} */

/* .subProList .col-content:hover {
	background: #fecc01;
    color: #fff;
}

.subProList .col-content:hover a {
	color:#fff;
}
  
   */
   @media (max-width:700px){
    .lead_sec1 .heading2 {
        font-size: 2.2rem;
    }
    .subProList article {
        margin:0;
        padding:0;
        padding-left: 20px;
      overflow: hidden;
    }
    
   }

   /* Industrial Page */


    .industrial {
    
        min-height: 100vh;
        width: 100%;
       
        background-position: center;
        background-size: cover;
        position: relative;
    }
      
    .top-left1 {
        position: absolute;
        top: 300px;
        left: 16px;
        color:rgb(233, 45, 11);
        font-weight: 600;
        font-size: 36px;
        padding-left: 50px;
    }
    .industrial-page h1 {
        text-align: center;
        color: darkblue;
        font-weight: 800;
        padding-top: 10px;
    }
    
    .industrial-page p {
        padding: 0px 80px;
    
        font-family: Arial, Helvetica, sans-serif;
    }
    @media(max-width:700px){
       .top-left1 {
        top: 50px;

       }

    }
 /* Motorbike Page  */
 .motor-header h1 {
    letter-spacing: 1px;
    font-weight: 800;
    color: blue;
    text-align: initial;
    padding-left: 90px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.motor-header p {

    font-family: Arial, Helvetica, sans-serif;
    text-align: initial;
    padding-left: 90px;
    padding-right: 90px;
}
.text-color{
    color: rgb(2, 2, 88);
}


/* Contact Page */

.location{
    width: 100%;
    margin: auto;
    padding: 10px 0;
}
.location iframe{
    width: 100%;
}

.contacts-details-area .input-area .form-control {
    border: 0;
    color: #001234;
  }
  .contacts-details-area .input-area textarea {
    border: 0;
  }
  .grey-bg2 {
    background: #f4f2f1;
  }
  .donation-form-area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .donation-form-area::before {
    content: "";
    background-color: #061738;
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .donation-form {
    padding: 35px;
  }
  
  @media(max-width:700px){
    .donation-form {
        padding: 60px 15px 70px 15px;
      }
      .donation-form-area-02 {
        min-height: 450px;
      }

      .form-area .form-control {
        width: 100%;
        margin-bottom: 10px;
      }

 }

 .donation-form .input-area .form-control {
    padding-left: 30px;
  }

  .donation-form-area-02 {
    min-height: 750px;
    display: flex;
    align-items: center;
  }  

  .my-heading span {
    font-weight: 600 !important;
  }

  .text-color {
    color: #00315a;
  }

  .secondary-text-color {
    color: #fa693c;
  }
  .mb-35 {
    margin-bottom: 35px;
  }
  .main-contact-area .input-btn button {
    font-size: 14px !important;
  }

  .input-area input:focus {
    box-shadow: none;
  }
  .input-area .form-control {
    border-radius: 0;
    font-weight: 700;
    border: 2px solid #e4e4e4;
    width: 100%;
    height: 45px;
    padding-left: 35px;
    background-color: #eee3ff;
    
  }
  .input-area textarea {
    width: 100%;
    display: block;
    resize: none;
    border: 2px solid #e4e4e4;
    /* color: #777777; */
    font-weight: 700;
    padding-left: 25px;
    padding-top: 15px;
    height: 125px;
  
  }
  .input-area textarea::placeholder {
    color: #777777;
    font-weight: 700;
  }

 

  .contacts-details-area .input-area .form-control {
    border: 0;
    color: #001234;
  }
  .contacts-details-area .input-area textarea {
    border: 0;
  }
  .search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: #fff;
}

.form-area .form-control {
    color: #001234;
    font-size: 18px;
    font-family: "cambria", sans-serif;
    font-weight: 600;
    line-height: 1;
    border: 0;
    display: block;
    background: white;
    width: 400px;
    height: 75px;
    border-radius: 40px;
    padding-left: 40px;
  }
  .input-area input:focus {
    box-shadow: none;
  }
  .input-btn button {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 0;
    padding: 15px;
  }
  .input-btn button::before {
    border-radius: 0;
  }
  *::-moz-placeholder {
    color: #061738;
    font-size: 14px;
    opacity: 1;
  }
  
  *::placeholder {
    color: #061738;
    font-size: 14px;
    opacity: 1;
  }

  .theme_btn {
    overflow: hidden;
    color: white;
    background: #00315a;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    font-family: "cambria", sans-serif;
    padding: 12px 45px 11px 13px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
  }

  .theme_btn::before {
    top: 0px;
    width: 0px;
    left: auto;
    right: 0px;
    z-index: -1;
    bottom: 0px;
    content: "";
    position: absolute;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
  }

  .theme_btn:hover {
    color: white;
    background: #fa693c;
  }
  .theme_btn:hover::before {
    left: 0px;
    width: 100%;
    right: auto;
  }
  .theme_btn_bg::before {
    background: #fc693c !important;
  }
 




  .input-area input:focus {
    box-shadow: none;
  }
  .input-area .form-control {
    border-radius: 0;
    font-weight: 700;
    border: 2px solid #e4e4e4;
    width: 100%;
    height: 45px;
    padding-left: 35px;
    background-color: #eee3ff;
    
  }
  .input-area textarea {
    width: 100%;
    display: block;
    resize: none;
    border: 2px solid #e4e4e4;
    color: #777777;
    font-weight: 700;
    padding-left: 25px;
    padding-top: 15px;
    height: 125px;
  
  }
  .input-area textarea::placeholder {
    color: #777777;
    font-weight: 700;
  }
  
  .input-btn button {
    width: 100%;
    display: block;
    border: 0;
    border-radius: 0;
    padding: 15px;
  }
  .input-btn button::before {
    border-radius: 0;
  }
  .contacts__icon {
    color: #f15b43;
    font-size: 54px;
  }
  .contacts__text h5 {
    color: #777777;
    font-weight: 400;
  }
  
  .contacts-details-area .input-area .form-control {
    border: 0;
    color: #001234;
  }
  .contacts-details-area .input-area textarea {
    border: 0;
  }
  .main-contact-area .input-btn button {
    font-size: 14px !important;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  
.pr-50 {
    padding-right: 50px;
  }

  .pl-50 {
    padding-left: 50px;
  }

  .secondary-text-color {
    color: #fa693c;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .text-uppercase {
    font-family:'Times New Roman', Times, serif;
    
  }

  .contact-info-dec h4 {
    font-family: 'Times New Roman', Times, serif;

  }
  .contact-info-dec p {
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
  }




  /* Multiple image slide */
  .auto-slide {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .image-slide {
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    height: 250px;
    overflow: hidden;
  }
  .slide-track {
    display: flex;
    width: calc(250px *8);
    animation: scroll 10s linear infinite;
  }

  .slide-track:hover {
   animation-play-state: paused;
  }


  @keyframes scroll {
    0% {
      transform: translateX(0);
    } 
    100% {
      transform: translateX(calc(-250px * 4));
    }
  }
  .slide-img {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }
  img{
    width: 100%;
    transition: transform 1s;
  }
  img:hover{
    transform: translateZ(20px);
  }

  /* Gradient Shadows */

.image-slide::before,
.image-slide::after{
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.image-slide::before {  
  left: 0;
  top: 0;
}
.image-slide::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
